.title-link {
    float: right;
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
}
.calendar-table_title {
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1.1333rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.stat-table {
    table-layout: auto;
    width: 100%
}
.stat-table_header {
    color: white !important;
    text-align: left;
}
.stat-table_header th {
    padding: 5px;
    font-weight: normal;
}
.stat-table_header th:first-child {
    padding: 0;
}
.stat-table_header th:nth-child(2) {
    padding-left: 15px;
}
.stat-table_body tr:nth-child(odd) {
    background: #c0c0c0;
    color: #888888;
}
.stat-table_body tr:nth-child(odd) a {
    color: black;
}
.stat-table_body tr:nth-child(even) td {
    color: white;
}
.stat-table_body tr:nth-child(even) a {
    color: white;
}
.stat-table_col-number {
    width: 41px;
}
.stat-table_body_light tr, .stat-table_body_light td {
    color: white !important;
    background-color: transparent !important;
}
.stat-table_body_light tr.tr-headline , .stat-table_body_light tr.tr-headline td {
    color: black !important;
    background-color: #c0c0c0 !important;
}
.stat-table_body_light a {
    color: white !important;
}
.stat-table_w360 {
    width: 360px;
}
.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}
.stat-table td {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    color: #484848;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.stat-table td:first-child {
    padding: 0;
}
.stat-table td:nth-child(2) {
    padding-left: 15px;
}
.stat-table td a {
    text-decoration: none;
}
.stat-table td a:hover {
    color: #206fb7;
}
.stat-table_flag {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 3px;
    height: 12px;
    width: 18px;
    background-image: url('flags.png');
}
.stat-table_flag.rus {
    background-position: 0 0;
}
.stat-table_more-btn {
    display: block;
    height: 36px;
    background: #f6f6f6;
    border: 1px solid #e2e4e7;
    color: #646464;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1333rem;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}
.stat-table_more-btn:hover {
    color: #206fb7;
}
.stat-table_footer-btns {
    display: block;
    height: 36px;
    background: #f6f6f6;
    border: 1px solid #e2e4e7;
    color: #646464;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1333rem;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}
.stat-table_footer-btns span,
.stat-table_footer-btns a {
    cursor: pointer;
}
.stat-table_footer-btns span:hover,
.stat-table_footer-btns a:hover {
    color: #206fb7;
}
.stat-table_footer-btns .hide-hidden-rows {
    display: none;
}
.stat-table caption {
    padding: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}
.place-flag1eq,
.place-flag1:before,
.place-flag1:after {
    width: 18px;
    height: 12px;
    background-image: url('flags.png') !important;
}
.place-flag1:before {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 3px 4px 0 0;
    content: " ";
}
.place-flag1-right:before {
    display: none;
}
.place-flag1-right:after {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 3px 0 0 4px;
    content: " ";
}
.place-flag1-2376eq,
.place-flag1-2376:before,
.place-flag1-2376:after {
    background-position: -2px -2px;
}
.place-flag1-2378eq,
.place-flag1-2378:before,
.place-flag1-2378:after {
    background-position: -24px -2px;
}
.place-flag1-4478eq,
.place-flag1-4478:before,
.place-flag1-4478:after {
    background-position: -46px -2px;
}
.place-flag1-2375eq,
.place-flag1-2375:before,
.place-flag1-2375:after {
    background-position: -68px -2px;
}
.place-flag1-2452eq,
.place-flag1-2452:before,
.place-flag1-2452:after {
    background-position: -90px -2px;
}
.place-flag1-2453eq,
.place-flag1-2453:before,
.place-flag1-2453:after {
    background-position: -112px -2px;
}
.place-flag1-2455eq,
.place-flag1-2455:before,
.place-flag1-2455:after {
    background-position: -134px -2px;
}
.place-flag1-2481eq,
.place-flag1-2481:before,
.place-flag1-2481:after {
    background-position: -156px -2px;
}
.place-flag1-2427eq,
.place-flag1-2427:before,
.place-flag1-2427:after {
    background-position: -178px -2px;
}
.place-flag1-2543eq,
.place-flag1-2543:before,
.place-flag1-2543:after {
    background-position: -200px -2px;
}
.place-flag1-2486eq,
.place-flag1-2486:before,
.place-flag1-2486:after {
    background-position: -222px -2px;
}
.place-flag1-2374eq,
.place-flag1-2374:before,
.place-flag1-2374:after {
    background-position: -244px -2px;
}
.place-flag1-4118eq,
.place-flag1-4118:before,
.place-flag1-4118:after {
    background-position: -266px -2px;
}
.place-flag1-2513eq,
.place-flag1-2513:before,
.place-flag1-2513:after {
    background-position: -288px -2px;
}
.place-flag1-2517eq,
.place-flag1-2517:before,
.place-flag1-2517:after {
    background-position: -310px -2px;
}
.place-flag1-2330eq,
.place-flag1-2330:before,
.place-flag1-2330:after {
    background-position: -332px -2px;
}
.place-flag1-2329eq,
.place-flag1-2329:before,
.place-flag1-2329:after {
    background-position: -2px -18px;
}
.place-flag1-2336eq,
.place-flag1-2336:before,
.place-flag1-2336:after {
    background-position: -24px -18px;
}
.place-flag1-2325eq,
.place-flag1-2325:before,
.place-flag1-2325:after {
    background-position: -46px -18px;
}
.place-flag1-2538eq,
.place-flag1-2538:before,
.place-flag1-2538:after {
    background-position: -68px -18px;
}
.place-flag1-3864eq,
.place-flag1-3864:before,
.place-flag1-3864:after {
    background-position: -90px -18px;
}
.place-flag1-2344eq,
.place-flag1-2344:before,
.place-flag1-2344:after {
    background-position: -112px -18px;
}
.place-flag1-2342eq,
.place-flag1-2342:before,
.place-flag1-2342:after {
    background-position: -134px -18px;
}
.place-flag1-2345eq,
.place-flag1-2345:before,
.place-flag1-2345:after {
    background-position: -156px -18px;
}
.place-flag1-2353eq,
.place-flag1-2353:before,
.place-flag1-2353:after {
    background-position: -178px -18px;
}
.place-flag1-2355eq,
.place-flag1-2355:before,
.place-flag1-2355:after {
    background-position: -200px -18px;
}
.place-flag1-2854eq,
.place-flag1-2854:before,
.place-flag1-2854:after {
    background-position: -222px -18px;
}
.place-flag1-2546eq,
.place-flag1-2546:before,
.place-flag1-2546:after {
    background-position: -244px -18px;
}
.place-flag1-2550eq,
.place-flag1-2550:before,
.place-flag1-2550:after {
    background-position: -266px -18px;
}
.place-flag1-2408eq,
.place-flag1-2408:before,
.place-flag1-2408:after {
    background-position: -288px -18px;
}
.place-flag1-2407eq,
.place-flag1-2407:before,
.place-flag1-2407:after {
    background-position: -310px -18px;
}
.place-flag1-2432eq,
.place-flag1-2432:before,
.place-flag1-2432:after {
    background-position: -332px -18px;
}
.place-flag1-2497eq,
.place-flag1-2497:before,
.place-flag1-2497:after {
    background-position: -2px -34px;
}
.place-flag1-2440eq,
.place-flag1-2440:before,
.place-flag1-2440:after {
    background-position: -24px -34px;
}
.place-flag1-2441eq,
.place-flag1-2441:before,
.place-flag1-2441:after {
    background-position: -46px -34px;
}
.place-flag1-2459eq,
.place-flag1-2459:before,
.place-flag1-2459:after {
    background-position: -68px -34px;
}
.place-flag1-2451eq,
.place-flag1-2451:before,
.place-flag1-2451:after {
    background-position: -90px -34px;
}
.place-flag1-2450eq,
.place-flag1-2450:before,
.place-flag1-2450:after {
    background-position: -112px -34px;
}
.place-flag1-4126eq,
.place-flag1-4126:before,
.place-flag1-4126:after {
    background-position: -134px -34px;
}
.place-flag1-2536eq,
.place-flag1-2536:before,
.place-flag1-2536:after {
    background-position: -156px -34px;
}
.place-flag1-2537eq,
.place-flag1-2537:before,
.place-flag1-2537:after {
    background-position: -178px -34px;
}
.place-flag1-2509eq,
.place-flag1-2509:before,
.place-flag1-2509:after {
    background-position: -200px -34px;
}
.place-flag1-2525eq,
.place-flag1-2525:before,
.place-flag1-2525:after {
    background-position: -222px -34px;
}
.place-flag1-4451eq,
.place-flag1-4451:before,
.place-flag1-4451:after {
    background-position: -244px -34px;
}
.place-flag1-2399eq,
.place-flag1-2399:before,
.place-flag1-2399:after {
    background-position: -266px -34px;
}
.place-flag1-2533eq,
.place-flag1-2533:before,
.place-flag1-2533:after {
    background-position: -288px -34px;
}
.place-flag1-2396eq,
.place-flag1-2396:before,
.place-flag1-2396:after {
    background-position: -310px -34px;
}
.place-flag1-2695eq,
.place-flag1-2695:before,
.place-flag1-2695:after {
    background-position: -332px -34px;
}
.place-flag1-2368eq,
.place-flag1-2368:before,
.place-flag1-2368:after {
    background-position: -2px -50px;
}
.place-flag1-2377eq,
.place-flag1-2377:before,
.place-flag1-2377:after {
    background-position: -24px -50px;
}
.place-flag1-4121eq,
.place-flag1-4121:before,
.place-flag1-4121:after {
    background-position: -46px -50px;
}
.place-flag1-2411eq,
.place-flag1-2411:before,
.place-flag1-2411:after {
    background-position: -68px -50px;
}
.place-flag1-2381eq,
.place-flag1-2381:before,
.place-flag1-2381:after {
    background-position: -90px -50px;
}
.place-flag1-2438eq,
.place-flag1-2438:before,
.place-flag1-2438:after {
    background-position: -112px -50px;
}
.place-flag1-2439eq,
.place-flag1-2439:before,
.place-flag1-2439:after {
    background-position: -134px -50px;
}
.place-flag1-2437eq,
.place-flag1-2437:before,
.place-flag1-2437:after {
    background-position: -156px -50px;
}
.place-flag1-2391eq,
.place-flag1-2391:before,
.place-flag1-2391:after {
    background-position: -178px -50px;
}
.place-flag1-2390eq,
.place-flag1-2390:before,
.place-flag1-2390:after {
    background-position: -200px -50px;
}
.place-flag1-2527eq,
.place-flag1-2527:before,
.place-flag1-2527:after {
    background-position: -222px -50px;
}
.place-flag1-2526eq,
.place-flag1-2526:before,
.place-flag1-2526:after {
    background-position: -244px -50px;
}
.place-flag1-2520eq,
.place-flag1-2520:before,
.place-flag1-2520:after {
    background-position: -266px -50px;
}
.place-flag1-4551eq,
.place-flag1-4551:before,
.place-flag1-4551:after {
    background-position: -288px -50px;
}
.place-flag1-4552eq,
.place-flag1-4552:before,
.place-flag1-4552:after {
    background-position: -310px -50px;
}
.place-flag1-4543eq,
.place-flag1-4543:before,
.place-flag1-4543:after {
    background-position: -332px -50px;
}
.place-flag1-4548eq,
.place-flag1-4548:before,
.place-flag1-4548:after {
    background-position: -2px -66px;
}
.place-flag1-2339eq,
.place-flag1-2339:before,
.place-flag1-2339:after {
    background-position: -24px -66px;
}
.place-flag1-4553eq,
.place-flag1-4553:before,
.place-flag1-4553:after {
    background-position: -46px -66px;
}
.place-flag1-2327eq,
.place-flag1-2327:before,
.place-flag1-2327:after {
    background-position: -68px -66px;
}
.place-flag1-3533eq,
.place-flag1-3533:before,
.place-flag1-3533:after {
    background-position: -90px -66px;
}
.place-flag1-2343eq,
.place-flag1-2343:before,
.place-flag1-2343:after {
    background-position: -112px -66px;
}
.place-flag1-2326eq,
.place-flag1-2326:before,
.place-flag1-2326:after {
    background-position: -134px -66px;
}
.place-flag1-2346eq,
.place-flag1-2346:before,
.place-flag1-2346:after {
    background-position: -156px -66px;
}
.place-flag1-2347eq,
.place-flag1-2347:before,
.place-flag1-2347:after {
    background-position: -178px -66px;
}
.place-flag1-2348eq,
.place-flag1-2348:before,
.place-flag1-2348:after {
    background-position: -200px -66px;
}
.place-flag1-2349eq,
.place-flag1-2349:before,
.place-flag1-2349:after {
    background-position: -222px -66px;
}
.place-flag1-2358eq,
.place-flag1-2358:before,
.place-flag1-2358:after {
    background-position: -244px -66px;
}
.place-flag1-2553eq,
.place-flag1-2553:before,
.place-flag1-2553:after {
    background-position: -266px -66px;
}
.place-flag1-2356eq,
.place-flag1-2356:before,
.place-flag1-2356:after {
    background-position: -288px -66px;
}
.place-flag1-2357eq,
.place-flag1-2357:before,
.place-flag1-2357:after {
    background-position: -310px -66px;
}
.place-flag1-2359eq,
.place-flag1-2359:before,
.place-flag1-2359:after {
    background-position: -332px -66px;
}
.place-flag1-2360eq,
.place-flag1-2360:before,
.place-flag1-2360:after {
    background-position: -2px -82px;
}
.place-flag1-2350eq,
.place-flag1-2350:before,
.place-flag1-2350:after {
    background-position: -24px -82px;
}
.place-flag1-2418eq,
.place-flag1-2418:before,
.place-flag1-2418:after {
    background-position: -46px -82px;
}
.place-flag1-2544eq,
.place-flag1-2544:before,
.place-flag1-2544:after {
    background-position: -68px -82px;
}
.place-flag1-3859eq,
.place-flag1-3859:before,
.place-flag1-3859:after {
    background-position: -90px -82px;
}
.place-flag1-3865eq,
.place-flag1-3865:before,
.place-flag1-3865:after {
    background-position: -112px -82px;
}
.place-flag1-2551eq,
.place-flag1-2551:before,
.place-flag1-2551:after {
    background-position: -134px -82px;
}
.place-flag1-2401eq,
.place-flag1-2401:before,
.place-flag1-2401:after {
    background-position: -156px -82px;
}
.place-flag1-2404eq,
.place-flag1-2404:before,
.place-flag1-2404:after {
    background-position: -178px -82px;
}
.place-flag1-2406eq,
.place-flag1-2406:before,
.place-flag1-2406:after {
    background-position: -200px -82px;
}
.place-flag1-2382eq,
.place-flag1-2382:before,
.place-flag1-2382:after {
    background-position: -222px -82px;
}
.place-flag1-2424eq,
.place-flag1-2424:before,
.place-flag1-2424:after {
    background-position: -244px -82px;
}
.place-flag1-2454eq,
.place-flag1-2454:before,
.place-flag1-2454:after {
    background-position: -266px -82px;
}
.place-flag1-2456eq,
.place-flag1-2456:before,
.place-flag1-2456:after {
    background-position: -288px -82px;
}
.place-flag1-2457eq,
.place-flag1-2457:before,
.place-flag1-2457:after {
    background-position: -310px -82px;
}
.place-flag1-2462eq,
.place-flag1-2462:before,
.place-flag1-2462:after {
    background-position: -332px -82px;
}
.place-flag1-2461eq,
.place-flag1-2461:before,
.place-flag1-2461:after {
    background-position: -2px -98px;
}
.place-flag1-2472eq,
.place-flag1-2472:before,
.place-flag1-2472:after {
    background-position: -24px -98px;
}
.place-flag1-2489eq,
.place-flag1-2489:before,
.place-flag1-2489:after {
    background-position: -46px -98px;
}
.place-flag1-2490eq,
.place-flag1-2490:before,
.place-flag1-2490:after {
    background-position: -68px -98px;
}
.place-flag1-2496eq,
.place-flag1-2496:before,
.place-flag1-2496:after {
    background-position: -90px -98px;
}
.place-flag1-2510eq,
.place-flag1-2510:before,
.place-flag1-2510:after {
    background-position: -112px -98px;
}
.place-flag1-2504eq,
.place-flag1-2504:before,
.place-flag1-2504:after {
    background-position: -134px -98px;
}
.place-flag1-2502eq,
.place-flag1-2502:before,
.place-flag1-2502:after {
    background-position: -156px -98px;
}
.place-flag1-2503eq,
.place-flag1-2503:before,
.place-flag1-2503:after {
    background-position: -178px -98px;
}
.place-flag1-3863eq,
.place-flag1-3863:before,
.place-flag1-3863:after {
    background-position: -200px -98px;
}
.place-flag1-2511eq,
.place-flag1-2511:before,
.place-flag1-2511:after {
    background-position: -222px -98px;
}
.place-flag1-2515eq,
.place-flag1-2515:before,
.place-flag1-2515:after {
    background-position: -244px -98px;
}
.place-flag1-2528eq,
.place-flag1-2528:before,
.place-flag1-2528:after {
    background-position: -266px -98px;
}
.place-flag1-2516eq,
.place-flag1-2516:before,
.place-flag1-2516:after {
    background-position: -288px -98px;
}
.place-flag1-4123eq,
.place-flag1-4123:before,
.place-flag1-4123:after {
    background-position: -310px -98px;
}
.place-flag1-2529eq,
.place-flag1-2529:before,
.place-flag1-2529:after {
    background-position: -332px -98px;
}
.place-flag1-2530eq,
.place-flag1-2530:before,
.place-flag1-2530:after {
    background-position: -2px -114px;
}
.place-flag1-2531eq,
.place-flag1-2531:before,
.place-flag1-2531:after {
    background-position: -24px -114px;
}
.place-flag1-2532eq,
.place-flag1-2532:before,
.place-flag1-2532:after {
    background-position: -46px -114px;
}
.place-flag1-2535eq,
.place-flag1-2535:before,
.place-flag1-2535:after {
    background-position: -68px -114px;
}
.place-flag1-2394eq,
.place-flag1-2394:before,
.place-flag1-2394:after {
    background-position: -90px -114px;
}
.place-flag1-2395eq,
.place-flag1-2395:before,
.place-flag1-2395:after {
    background-position: -112px -114px;
}
.place-flag1-4120eq,
.place-flag1-4120:before,
.place-flag1-4120:after {
    background-position: -134px -114px;
}
.place-flag1-2398eq,
.place-flag1-2398:before,
.place-flag1-2398:after {
    background-position: -156px -114px;
}
.place-flag1-2400eq,
.place-flag1-2400:before,
.place-flag1-2400:after {
    background-position: -178px -114px;
}
.place-flag1-2467eq,
.place-flag1-2467:before,
.place-flag1-2467:after {
    background-position: -200px -114px;
}
.place-flag1-4122eq,
.place-flag1-4122:before,
.place-flag1-4122:after {
    background-position: -222px -114px;
}
.place-flag1-2380eq,
.place-flag1-2380:before,
.place-flag1-2380:after {
    background-position: -244px -114px;
}
.place-flag1-2522eq,
.place-flag1-2522:before,
.place-flag1-2522:after {
    background-position: -266px -114px;
}
.place-flag1-2431eq,
.place-flag1-2431:before,
.place-flag1-2431:after {
    background-position: -288px -114px;
}
.place-flag1-4523eq,
.place-flag1-4523:before,
.place-flag1-4523:after {
    background-position: -310px -114px;
}
.place-flag1-2433eq,
.place-flag1-2433:before,
.place-flag1-2433:after {
    background-position: -332px -114px;
}
.place-flag1-2444eq,
.place-flag1-2444:before,
.place-flag1-2444:after {
    background-position: -2px -130px;
}
.place-flag1-2445eq,
.place-flag1-2445:before,
.place-flag1-2445:after {
    background-position: -24px -130px;
}
.place-flag1-2447eq,
.place-flag1-2447:before,
.place-flag1-2447:after {
    background-position: -46px -130px;
}
.place-flag1-2485eq,
.place-flag1-2485:before,
.place-flag1-2485:after {
    background-position: -68px -130px;
}
.place-flag1-2506eq,
.place-flag1-2506:before,
.place-flag1-2506:after {
    background-position: -90px -130px;
}
.place-flag1-2507eq,
.place-flag1-2507:before,
.place-flag1-2507:after {
    background-position: -112px -130px;
}
.place-flag1-2387eq,
.place-flag1-2387:before,
.place-flag1-2387:after {
    background-position: -134px -130px;
}
.place-flag1-2693eq,
.place-flag1-2693:before,
.place-flag1-2693:after {
    background-position: -156px -130px;
}
.place-flag1-2547eq,
.place-flag1-2547:before,
.place-flag1-2547:after {
    background-position: -178px -130px;
}
.place-flag1-2694eq,
.place-flag1-2694:before,
.place-flag1-2694:after {
    background-position: -200px -130px;
}
.place-flag1-2385eq,
.place-flag1-2385:before,
.place-flag1-2385:after {
    background-position: -222px -130px;
}
.place-flag1-2388eq,
.place-flag1-2388:before,
.place-flag1-2388:after {
    background-position: -244px -130px;
}
.place-flag1-2389eq,
.place-flag1-2389:before,
.place-flag1-2389:after {
    background-position: -266px -130px;
}
.place-flag1-2340eq,
.place-flag1-2340:before,
.place-flag1-2340:after {
    background-position: -288px -130px;
}
.place-flag1-2692eq,
.place-flag1-2692:before,
.place-flag1-2692:after {
    background-position: -310px -130px;
}
.place-flag1-2552eq,
.place-flag1-2552:before,
.place-flag1-2552:after {
    background-position: -332px -130px;
}
.place-flag1-2328eq,
.place-flag1-2328:before,
.place-flag1-2328:after {
    background-position: -2px -146px;
}
.place-flag1-2351eq,
.place-flag1-2351:before,
.place-flag1-2351:after {
    background-position: -24px -146px;
}
.place-flag1-2352eq,
.place-flag1-2352:before,
.place-flag1-2352:after {
    background-position: -46px -146px;
}
.place-flag1-3860eq,
.place-flag1-3860:before,
.place-flag1-3860:after {
    background-position: -68px -146px;
}
.place-flag1-3861eq,
.place-flag1-3861:before,
.place-flag1-3861:after {
    background-position: -90px -146px;
}
.place-flag1-2549eq,
.place-flag1-2549:before,
.place-flag1-2549:after {
    background-position: -112px -146px;
}
.place-flag1-2421eq,
.place-flag1-2421:before,
.place-flag1-2421:after {
    background-position: -134px -146px;
}
.place-flag1-2475eq,
.place-flag1-2475:before,
.place-flag1-2475:after {
    background-position: -156px -146px;
}
.place-flag1-2409eq,
.place-flag1-2409:before,
.place-flag1-2409:after {
    background-position: -178px -146px;
}
.place-flag1-2403eq,
.place-flag1-2403:before,
.place-flag1-2403:after {
    background-position: -200px -146px;
}
.place-flag1-2423eq,
.place-flag1-2423:before,
.place-flag1-2423:after {
    background-position: -222px -146px;
}
.place-flag1-2426eq,
.place-flag1-2426:before,
.place-flag1-2426:after {
    background-position: -244px -146px;
}
.place-flag1-2425eq,
.place-flag1-2425:before,
.place-flag1-2425:after {
    background-position: -266px -146px;
}
.place-flag1-2428eq,
.place-flag1-2428:before,
.place-flag1-2428:after {
    background-position: -288px -146px;
}
.place-flag1-2521eq,
.place-flag1-2521:before,
.place-flag1-2521:after {
    background-position: -310px -146px;
}
.place-flag1-2555eq,
.place-flag1-2555:before,
.place-flag1-2555:after {
    background-position: -332px -146px;
}
.place-flag1-2364eq,
.place-flag1-2364:before,
.place-flag1-2364:after {
    background-position: -2px -162px;
}
.place-flag1-2429eq,
.place-flag1-2429:before,
.place-flag1-2429:after {
    background-position: -24px -162px;
}
.place-flag1-2379eq,
.place-flag1-2379:before,
.place-flag1-2379:after {
    background-position: -46px -162px;
}
.place-flag1-2435eq,
.place-flag1-2435:before,
.place-flag1-2435:after {
    background-position: -68px -162px;
}
.place-flag1-2369eq,
.place-flag1-2369:before,
.place-flag1-2369:after {
    background-position: -90px -162px;
}
.place-flag1-2446eq,
.place-flag1-2446:before,
.place-flag1-2446:after {
    background-position: -112px -162px;
}
.place-flag1-2448eq,
.place-flag1-2448:before,
.place-flag1-2448:after {
    background-position: -134px -162px;
}
.place-flag1-2460eq,
.place-flag1-2460:before,
.place-flag1-2460:after {
    background-position: -156px -162px;
}
.place-flag1-2469eq,
.place-flag1-2469:before,
.place-flag1-2469:after {
    background-position: -178px -162px;
}
.place-flag1-2463eq,
.place-flag1-2463:before,
.place-flag1-2463:after {
    background-position: -200px -162px;
}
.place-flag1-2464eq,
.place-flag1-2464:before,
.place-flag1-2464:after {
    background-position: -222px -162px;
}
.place-flag1-2465eq,
.place-flag1-2465:before,
.place-flag1-2465:after {
    background-position: -244px -162px;
}
.place-flag1-2470eq,
.place-flag1-2470:before,
.place-flag1-2470:after {
    background-position: -266px -162px;
}
.place-flag1-2471eq,
.place-flag1-2471:before,
.place-flag1-2471:after {
    background-position: -288px -162px;
}
.place-flag1-2480eq,
.place-flag1-2480:before,
.place-flag1-2480:after {
    background-position: -310px -162px;
}
.place-flag1-2487eq,
.place-flag1-2487:before,
.place-flag1-2487:after {
    background-position: -332px -162px;
}
.place-flag1-2488eq,
.place-flag1-2488:before,
.place-flag1-2488:after {
    background-position: -2px -178px;
}
.place-flag1-2499eq,
.place-flag1-2499:before,
.place-flag1-2499:after {
    background-position: -24px -178px;
}
.place-flag1-2500eq,
.place-flag1-2500:before,
.place-flag1-2500:after {
    background-position: -46px -178px;
}
.place-flag1-4116eq,
.place-flag1-4116:before,
.place-flag1-4116:after {
    background-position: -68px -178px;
}
.place-flag1-2501eq,
.place-flag1-2501:before,
.place-flag1-2501:after {
    background-position: -90px -178px;
}
.place-flag1-2505eq,
.place-flag1-2505:before,
.place-flag1-2505:after {
    background-position: -112px -178px;
}
.place-flag1-2519eq,
.place-flag1-2519:before,
.place-flag1-2519:after {
    background-position: -134px -178px;
}
.place-flag1-2523eq,
.place-flag1-2523:before,
.place-flag1-2523:after {
    background-position: -156px -178px;
}
.place-flag1-2524eq,
.place-flag1-2524:before,
.place-flag1-2524:after {
    background-position: -178px -178px;
}
.place-flag1-2514eq,
.place-flag1-2514:before,
.place-flag1-2514:after {
    background-position: -200px -178px;
}
.place-flag1-2545eq,
.place-flag1-2545:before,
.place-flag1-2545:after {
    background-position: -222px -178px;
}
.place-flag1-2397eq,
.place-flag1-2397:before,
.place-flag1-2397:after {
    background-position: -244px -178px;
}
.place-flag1-2436eq,
.place-flag1-2436:before,
.place-flag1-2436:after {
    background-position: -266px -178px;
}
.place-flag1-4431eq,
.place-flag1-4431:before,
.place-flag1-4431:after {
    background-position: -288px -178px;
}
.place-flag1-2430eq,
.place-flag1-2430:before,
.place-flag1-2430:after {
    background-position: -310px -178px;
}
.place-flag1-4479eq,
.place-flag1-4479:before,
.place-flag1-4479:after {
    background-position: -332px -178px;
}
.place-flag1-4512eq,
.place-flag1-4512:before,
.place-flag1-4512:after {
    background-position: -2px -194px;
}
.place-flag1-4515eq,
.place-flag1-4515:before,
.place-flag1-4515:after {
    background-position: -24px -194px;
}
.place-flag1-4516eq,
.place-flag1-4516:before,
.place-flag1-4516:after {
    background-position: -46px -194px;
}
.place-flag1-2947eq,
.place-flag1-2947:before,
.place-flag1-2947:after {
    background-position: -68px -194px;
}
.place-flag1-2332eq,
.place-flag1-2332:before,
.place-flag1-2332:after {
    background-position: -90px -194px;
}
.place-flag1-2333eq,
.place-flag1-2333:before,
.place-flag1-2333:after {
    background-position: -112px -194px;
}
.place-flag1-2334eq,
.place-flag1-2334:before,
.place-flag1-2334:after {
    background-position: -134px -194px;
}
.place-flag1-2335eq,
.place-flag1-2335:before,
.place-flag1-2335:after {
    background-position: -156px -194px;
}
.place-flag1-2416eq,
.place-flag1-2416:before,
.place-flag1-2416:after {
    background-position: -178px -194px;
}
.place-flag1-2415eq,
.place-flag1-2415:before,
.place-flag1-2415:after {
    background-position: -200px -194px;
}
.place-flag1-2402eq,
.place-flag1-2402:before,
.place-flag1-2402:after {
    background-position: -222px -194px;
}
.place-flag1-2405eq,
.place-flag1-2405:before,
.place-flag1-2405:after {
    background-position: -244px -194px;
}
.place-flag1-2410eq,
.place-flag1-2410:before,
.place-flag1-2410:after {
    background-position: -266px -194px;
}
.place-flag1-2412eq,
.place-flag1-2412:before,
.place-flag1-2412:after {
    background-position: -288px -194px;
}
.place-flag1-2413eq,
.place-flag1-2413:before,
.place-flag1-2413:after {
    background-position: -310px -194px;
}
.place-flag1-2414eq,
.place-flag1-2414:before,
.place-flag1-2414:after {
    background-position: -332px -194px;
}
.place-flag1-2384eq,
.place-flag1-2384:before,
.place-flag1-2384:after {
    background-position: -2px -210px;
}
.place-flag1-2373eq,
.place-flag1-2373:before,
.place-flag1-2373:after {
    background-position: -24px -210px;
}
.place-flag1-2392eq,
.place-flag1-2392:before,
.place-flag1-2392:after {
    background-position: -46px -210px;
}
.place-flag1-2386eq,
.place-flag1-2386:before,
.place-flag1-2386:after {
    background-position: -68px -210px;
}
.place-flag1-2365eq,
.place-flag1-2365:before,
.place-flag1-2365:after {
    background-position: -90px -210px;
}
.place-flag1-2361eq,
.place-flag1-2361:before,
.place-flag1-2361:after {
    background-position: -112px -210px;
}
.place-flag1-2363eq,
.place-flag1-2363:before,
.place-flag1-2363:after {
    background-position: -134px -210px;
}
.place-flag1-2370eq,
.place-flag1-2370:before,
.place-flag1-2370:after {
    background-position: -156px -210px;
}
.place-flag1-2372eq,
.place-flag1-2372:before,
.place-flag1-2372:after {
    background-position: -178px -210px;
}
.place-flag1-2442eq,
.place-flag1-2442:before,
.place-flag1-2442:after {
    background-position: -200px -210px;
}
.place-flag1-2443eq,
.place-flag1-2443:before,
.place-flag1-2443:after {
    background-position: -222px -210px;
}
.place-flag1-2477eq,
.place-flag1-2477:before,
.place-flag1-2477:after {
    background-position: -244px -210px;
}
.place-flag1-2478eq,
.place-flag1-2478:before,
.place-flag1-2478:after {
    background-position: -266px -210px;
}
.place-flag1-2518eq,
.place-flag1-2518:before,
.place-flag1-2518:after {
    background-position: -288px -210px;
}
.place-flag1-2539eq,
.place-flag1-2539:before,
.place-flag1-2539:after {
    background-position: -310px -210px;
}
.place-flag1-2541eq,
.place-flag1-2541:before,
.place-flag1-2541:after {
    background-position: -332px -210px;
}
.place-flag1-2542eq,
.place-flag1-2542:before,
.place-flag1-2542:after {
    background-position: -2px -226px;
}
.place-flag1-2548eq,
.place-flag1-2548:before,
.place-flag1-2548:after {
    background-position: -24px -226px;
}
.place-flag1-2658eq,
.place-flag1-2658:before,
.place-flag1-2658:after {
    background-position: -46px -226px;
}
.place-flag1-2494eq,
.place-flag1-2494:before,
.place-flag1-2494:after {
    background-position: -68px -226px;
}
.place-flag1-2366eq,
.place-flag1-2366:before,
.place-flag1-2366:after {
    background-position: -90px -226px;
}
.place-flag1-2367eq,
.place-flag1-2367:before,
.place-flag1-2367:after {
    background-position: -112px -226px;
}
.place-flag1-2338eq,
.place-flag1-2338:before,
.place-flag1-2338:after {
    background-position: -134px -226px;
}
.place-flag1-2331eq,
.place-flag1-2331:before,
.place-flag1-2331:after {
    background-position: -156px -226px;
}
.place-flag1-2419eq,
.place-flag1-2419:before,
.place-flag1-2419:after {
    background-position: -178px -226px;
}
.place-flag1-2420eq,
.place-flag1-2420:before,
.place-flag1-2420:after {
    background-position: -200px -226px;
}
.place-flag1-2383eq,
.place-flag1-2383:before,
.place-flag1-2383:after {
    background-position: -222px -226px;
}
.place-flag1-2558eq,
.place-flag1-2558:before,
.place-flag1-2558:after {
    background-position: -244px -226px;
}
.place-flag1-2557eq,
.place-flag1-2557:before,
.place-flag1-2557:after {
    background-position: -266px -226px;
}
.place-flag1-2422eq,
.place-flag1-2422:before,
.place-flag1-2422:after {
    background-position: -288px -226px;
}
.place-flag1-2362eq,
.place-flag1-2362:before,
.place-flag1-2362:after {
    background-position: -310px -226px;
}
.place-flag1-2498eq,
.place-flag1-2498:before,
.place-flag1-2498:after {
    background-position: -332px -226px;
}
.place-flag1-2371eq,
.place-flag1-2371:before,
.place-flag1-2371:after {
    background-position: -2px -242px;
}
.place-flag1-2434eq,
.place-flag1-2434:before,
.place-flag1-2434:after {
    background-position: -24px -242px;
}
.place-flag1-2466eq,
.place-flag1-2466:before,
.place-flag1-2466:after {
    background-position: -46px -242px;
}
.place-flag1-2468eq,
.place-flag1-2468:before,
.place-flag1-2468:after {
    background-position: -68px -242px;
}
.place-flag1-2473eq,
.place-flag1-2473:before,
.place-flag1-2473:after {
    background-position: -90px -242px;
}
.place-flag1-2474eq,
.place-flag1-2474:before,
.place-flag1-2474:after {
    background-position: -112px -242px;
}
.place-flag1-2476eq,
.place-flag1-2476:before,
.place-flag1-2476:after {
    background-position: -134px -242px;
}
.place-flag1-2479eq,
.place-flag1-2479:before,
.place-flag1-2479:after {
    background-position: -156px -242px;
}
.place-flag1-2491eq,
.place-flag1-2491:before,
.place-flag1-2491:after {
    background-position: -178px -242px;
}
.place-flag1-2492eq,
.place-flag1-2492:before,
.place-flag1-2492:after {
    background-position: -200px -242px;
}
.place-flag1-2493eq,
.place-flag1-2493:before,
.place-flag1-2493:after {
    background-position: -222px -242px;
}
.place-flag1-2495eq,
.place-flag1-2495:before,
.place-flag1-2495:after {
    background-position: -244px -242px;
}
.place-flag1-4115eq,
.place-flag1-4115:before,
.place-flag1-4115:after {
    background-position: -266px -242px;
}
.place-flag1-4119eq,
.place-flag1-4119:before,
.place-flag1-4119:after {
    background-position: -288px -242px;
}
.place-flag1-4125eq,
.place-flag1-4125:before,
.place-flag1-4125:after {
    background-position: -310px -242px;
}
.place-flag1-4127eq,
.place-flag1-4127:before,
.place-flag1-4127:after {
    background-position: -332px -242px;
}
.place-flag1-4124eq,
.place-flag1-4124:before,
.place-flag1-4124:after {
    background-position: -2px -258px;
}
.place-flag1-4117eq,
.place-flag1-4117:before,
.place-flag1-4117:after {
    background-position: -24px -258px;
}
.place-flag1-4128eq,
.place-flag1-4128:before,
.place-flag1-4128:after {
    background-position: -46px -258px;
} .stat-table_wrapper {margin: 5px}
